<!DOCTYPE html>
<html lang="en">
  <head> <% include partials/page/head.ejs %> </head>
  <% include partials/page/header.ejs %>
  <body class="<%= classname %>">
    <div class="container"></div>
      <h1><%= title %></h1>
      <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium, ipsam ipsum corporis expedita quia laboriosam, nostrum ullam quis cumque recusandae deleniti maxime, labore ut. Delectus voluptate repellendus, necessitatibus id veritatis.</p>
    </div>
    <% include partials/page/footer.ejs %>
    <% include partials/page/jsdefaults.ejs %>

  </body>
</html>